
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Template

body {
  font-family: 'Roboto', sans-serif;
}

.full {
  background: url('../images/01.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
}

.slider-container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.slider-item {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slider-item h1 {
  color: #FFF;
}

.header {
  padding-top: 30px;
}

.header > .column {
  height: 90px;
}

.header > .column img{
  padding: 0px 0px 0px 0px;
}

.top-list {
  font-weight: 100; color: #FFF; font-size: 12px
}

.top-list > li {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.social-link {
  background: #FFF;
  padding: 1px 0px !important;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  color: #0d3625;
  margin: 0px 2px 0px 2px;
}

.language-link {
  text-transform: uppercase;
  color: #FFF;
  display: inline-block;
}

.language-link:hover {
  color: #F2F2F2;
}

.navigation {
  text-align: left;
  position: relative;
}

.main-menu {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0px;
}

.main-menu li {
  padding: 10px 10px 20px 10px;
}

.main-menu li:hover {
  border-bottom: 3px solid #047eb2;
  cursor: pointer;
}

.main-menu li > a {
  color: #F2F2F2;
  font-weight: 300;
  text-decoration: none;
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 2500px) {
  .wrapper-image h1 {
    margin-top: 80%;
    margin-bottom: 20%;
  }

  .calculator {
    margin: 10% 20% 0% 0%;
  }
}

@media only screen and (max-width : 1920px) {
  .wrapper-image h1 {
    margin-top: 80%;
    margin-bottom: 20%;
  }

  .calculator {
    margin: 14% 20% 0% 0%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .wrapper-image h1 {
    margin-top: 62%;
    margin-bottom: 24%;
  }

  .calculator {
    margin: 14% 15% 0% 0%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .wrapper-image h1 {
    margin-top: 50%;
    margin-bottom: 20%;
  }

  .calculator {
    margin: 14% 10% 0% 0%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .wrapper-image h1 {
    margin-top: 40%;
    margin-bottom: 15%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .wrapper-image h1 {
    margin-top: 40%;
    margin-bottom: 5%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .wrapper-image h1 {
    margin-top: 40%;
    margin-bottom: 5%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 2500px) {
  .wrapper-image-small h1 {
    margin-top: 25%;
    margin-left: 0%;
    margin-bottom: 20%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .wrapper-image-small h1 {
    margin-top: 15%;
    margin-left: 0%;
    margin-bottom: 3%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .wrapper-image-small h1 {
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: 5%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .wrapper-image-small h1 {
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: 15%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .wrapper-image-small h1 {
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: 5%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .wrapper-image-small h1 {
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: 5%;
  }
}

.wrapper-image-small h1 {
  color: #FFF;
}

html{
  overflow-x: hidden;
}

.count
{
  font-size: 55px;
  color: #FFF;
  font-weight: bold;
  font-weight: 100;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top:0;
  left:0;
  background: rgba(0, 0, 0, 0.15);
}

.section-bg {
  position: relative;
  width: 100vw;
}

.bg-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}

.bg {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transform: translateZ(0);
  will-change: transform;
}

.title h4{
  font-weight: 100 !important;
  text-transform: uppercase;
  line-height: 1.5;
}

.box-item {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  position: relative;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.box-item img {
  float: left;
  margin-left: 10px;
}

.box-item h2 {
  float: left;
  margin: 0px 0px 0px 20px;
}

.box-item .text {
  float: left;
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  left: 110px;
}

.box-item:first-child {
  border-left: none;
}

ul{
  list-style: none;
}
.footer{
  background-color: #057eb3;
}
.footer .top-list{
  font-size: 12px;
}
.footer ul li a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.animatable {
  visibility: hidden;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.animated {
  visibility: visible;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
  }	100% {
         opacity: 1;
         -webkit-transform: translateY(0);
       }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animated.animationDelay{
  animation-delay:.4s;
  -webkit-animation-delay:.4s;
}
.animated.animationDelayMed{
  animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}
.animated.animationDelayLong{
  animation-delay:1.6s;
  -webkit-animation-delay:1.6s;
}
.animated.fadeBgColor {
  -webkit-animation-name: fadeBgColor;
  -moz-animation-name: fadeBgColor;
  -o-animation-name: fadeBgColor;
  animation-name: fadeBgColor;
}
.animated.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.header {
  transition: all 1s ease-in-out;
}
.header.active {
  background-color: #045b82;
  opacity: 0.9;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
h1, h4, h5{
  text-transform: uppercase;
}
h1{
  color: #FFF;
}
h1 label{
  font-size: 60px;
  font-weight: bold;
}
.divImgText h4{
  margin-bottom: 0px;
}
.row .container h4{
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}
.container-fluid-border{
  //border-bottom: 1px groove #cdcdcd;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.row .container .col-lg-4{
  padding: 0px 20px 0px 0px;
}
.row .container .containerImg .col-lg-4 img{
  width: 100%;
  height: 180px;
}
.divImgText .help-block{
  font-size: 11px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 8px;
  color: #a4aaae;
}
.divImgText label{
  color: #E86D4C;
}
.container-fluid .row .container .row .col-lg-2{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.container-fluid .row .container .row .col-lg-2 div{
  font-size: 55px;
  color: #FFF;
  font-weight: bold;
  font-weight: 100;
}
.container-fluid .row .container .row .col-lg-2 div label{
  font-size: 12px;
  vertical-align: middle;
}
.container-fluid .row .container .row .col-lg-2 h5{
  color: #FFF;
  font-weight: bold;
}
.container-fluid .row .container .row .col-lg-2 img{
  margin-top: 15px;
  margin-bottom: 9px;
}
.marginB15{
  margin-bottom: 15px;
}
.marginB30{
  margin-bottom: 30px;
}
.paddingR6 {
  padding: 0px 6px 0px 0px !important;
}
@media (min-width : 768px) {
  .box-item {
    border: none;
  }
}
@media (min-width: 992px){
  .box-item {
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
  }
}
.image-collection {
  padding: 0px 10px 0px 0px !important;
}

.image-collection img {
  height: 150px;
  width: 100%;
}

.nav-tabs > li > a {
  margin-right: 0px !important;
  border: none !important;
  border-radius: 0px !important;
  width: 110px !important;
  height: 70px !important;
  padding: 10px 10px !important;
}

.nav-tabs > li.active > a:hover {
  background: #057EB3 !important;
  color: #FFF !important;
}

.nav-tabs > li.active > a {
  border-radius: 0px !important;
  background: #057EB3 !important;
  color: #FFF !important;
}

.nav-tabs > li.active > a > .icon {
  height: 32px !important;
  margin: 5px auto !important;
  color: #FFF !important;
}

.nav-tabs > li > a > .icon {
  height: 32px !important;
  margin: 5px auto !important;
}

.nav-tabs {
  border-bottom: 5px solid #057EB3 !important;
}

.slider.slider-horizontal {
  width: 100% !important;
}

.slider-track {
  border-radius: 0px !important;
  box-shadow: none !important;
}

.slider-handle {
  width: 16px;
  height: 16px;
}

.slider.slider-horizontal .slider-track {
  margin-top: -6px !important;
  height:8px !important;
}

.slider-selection {
  border-radius: 0px;
  background-image: linear-gradient(to bottom, #F55549 0, #F55549 100%);
}

.checkbox {
  padding-left: 20px; }
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px; }
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555; }
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1; }
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
  border-radius: 50%; }
.checkbox.checkbox-inline {
  margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7; }
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.radio {
  padding-left: 20px; }
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 25px; }
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out; }
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 29px;
  height: 29px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1; }
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
  opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed; }
.radio.radio-inline {
  margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #F55549; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #F55549; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #F55549; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; }

.nav-tabs > li.active > a > .icon-tab-car {
  background: url('../images/car-black-side-silhouette-w.png') no-repeat;
}

.nav-tabs > li > a > .icon-tab-car {
  background: url('../images/car-black-side-silhouette.png') no-repeat;
}

.nav-tabs > li.active > a > .icon-tab-home {
  background: url('../images/home-w.png') no-repeat;
}

.nav-tabs > li > a > .icon-tab-home {
  background: url('../images/home.png') no-repeat;
}

.nav-tabs > li.active > a > .icon-tab-building {
  background: url('../images/three-buildings-w.png') no-repeat;
}

.nav-tabs > li > a > .icon-tab-building {
  background: url('../images/three-buildings.png') no-repeat;
}

.icon-tab {
  height: 32px;
  width: 32px;
  margin: 0 auto
}

.calculator {
  width: 330px; height: 520px;
  background: #FFF;
  position: absolute;
  right: 0px;
  z-index: 10000;
}